# Core functionality - changes here should be rare!
/src/app.py                   @AayushShrestha14
/src/backend/database.py      @AayushShrestha14
/src/backend/routers/auth.py  @AayushShrestha14

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AayushShrestha14
